<template lang="pug">
  board-table(:boards="boards")
</template>

<script>
import BoardTable from '@/components/table/boardTable.vue';

export default {
  name: 'Arrival',
  components: { BoardTable },
  data() {
    return {
      boards: [],
    };
  },
  methods: {
    getBoardsList() {
      this.$http.get('/timetable', {
        params: {
          iataCode: this.$store.state.selectedAirport.code,
          type: 'arrival',
        },
      }).then((resp) => {
        this.boards = resp.data;
      });
    },
  },
  mounted() {
    if (this.$store.state.selectedAirport.code) {
      this.getBoardsList();
    }
  },
  computed: {
    selectedAirport() {
      return this.$store.state.selectedAirport;
    },
  },
  watch: {
    selectedAirport: {
      handler() {
        this.getBoardsList();
      },
      deep: true,
    },
  },
};
</script>

<style lang="stylus">

</style>
