<template lang="pug">
  div
    board-table(:boards="boards")
</template>

<script>
import BoardTable from '@/components/table/boardTable.vue';

export default {
  name: 'home',
  components: { BoardTable },
  data() {
    return {
      boards: [],
    };
  },
  methods: {
    getBoardsList() {
      this.$http.get('', {
        params: {
          iataCode: this.$store.state.selectedAirport.code,
        },
      }).then((resp) => {
        this.boards = resp.data;
      });
    },
  },
  mounted() {
    this.$router.push('/arrival');
  },
  computed: {
    selectedAirport() {
      return this.$store.state.selectedAirport;
    },
  },
  watch: {
    selectedAirport: {
      handler() {
        this.getBoardsList();
      },
      deep: true,
    },
  },
};
</script>
