<template lang="pug">
  .checkbox-control
    label.checkbox-control__label(
      :class="{'checkbox-control__label--checked': checkboxState}"
    ) {{ label }}
      input.checkbox-control__input(
        type="checkbox"
        v-model="checkboxState"
      )
</template>

<script>
export default {
  name: 'checkboxControl',
  props: {
    label: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      checkboxState: false,
    };
  },
  watch: {
    checkboxState() {
      this.$emit('checkboxStateChange', this.checkboxState);
    },
  },
};
</script>

<style lang="stylus">
.checkbox-control
  &__label
    cursor pointer
    padding-left 1.5em
    position relative
    &:after
      content ''
      display block
      position absolute
      left 0
      top 50%
      width .8em
      height .8em
      transform translateY(-50%)
      background #eee
      border 1px solid #ccc
    &:before
      content ''
      display block
      position absolute
      left calc(.4em + 1px)
      top calc(50% - .3em)
      width .8em
      height .4em
      border-bottom 2px solid black
      border-left 2px solid black
      transform-origin left bottom
      transform rotate(-45deg)
      z-index 10
      opacity 0
    &--checked
      &:before
        opacity 1
  &__input
    display none
</style>
