<template lang="pug">
  input.input(
    :placeholder="placeholder"
    v-model="inputValue"
  )
</template>

<script>
export default {
  name: 'inputControl',
  props: {
    placeholder: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      inputValue: '',
    };
  },
  watch: {
    inputValue() {
      this.$emit('valueChanged', this.inputValue);
    },
  },
};
</script>

<style lang="stylus">
.input
  padding 0 0 0 .8em
  line-height 2em
  height 2em
  border none
  border-bottom 1px solid #ccc
  width 12.5em
</style>
