<template lang="pug">
  .select-drop-down
    .select-drop-down__current(
      @click="showDropDown"
    ) {{ selectedOption.name || title }}
    .select-drop-down__options
      .select-drop-down__option(
        v-for="option in options"
        @click="selectValue($event, option)"
        :data-value="option.value"
      ) {{ option.name }}
</template>

<script>
export default {
  name: 'selectDropDown',
  props: {
    options: {
      type: Array,
      default() {
        return [];
      },
    },
    title: {
      type: String,
      default: 'Option Title',
    },
  },
  data() {
    return {
      selectedOption: '',
    };
  },
  methods: {
    showDropDown($event) {
      const optionContainer = $event.currentTarget.parentElement.querySelector('.select-drop-down__options');
      optionContainer.classList.toggle('select-drop-down__options--visible');
    },
    selectValue($event, option) {
      this.selectedOption = option;
      this.$emit('valueSelected', option);
      const target = $event.currentTarget;
      const optionContainer = target.parentElement.parentElement.querySelector('.select-drop-down__options');
      optionContainer.classList.toggle('select-drop-down__options--visible');
    },
  },
};
</script>

<style lang="stylus">
.select-drop-down
  background #eee
  position relative
  width 12.5em
  &__current
    padding 0 2em 0 .8em
    position relative
    cursor pointer
    line-height 1.8em
    height 1.8em
    &:after
      content ''
      display block
      position absolute
      right 1em
      top 30%
      width 8px
      height 8px
      border-bottom 2px solid #000
      border-right 2px solid #000
      transform rotate(45deg)
  &__options
    min-width 100%
    position absolute
    left 0
    top 100%
    background #eee
    opacity 0
    visibility hidden
    transform translateY(-.5em)
    transition .2s ease-in-out
    z-index 10
    &--visible
      opacity 1
      visibility visible
      transform translateY(0)
  &__option
    padding 0 2em 0 .8em
    line-height 1.8em
    height 1.8em
    cursor pointer
</style>
