<template lang="pug">
  nav.main-nav
    router-link(
      to="/departure"
      class="main-nav__link"
      :active-class="'main-nav__link--active'"
    ) Вылет
    router-link(
      to="/arrival"
      class="main-nav__link"
      :active-class="'main-nav__link--active'"
    ) Прилет
</template>

<script>
export default {
  name: 'mainNav',
};
</script>

<style lang="stylus">
.main-nav
  width 100%
  display flex
  align-items center
  justify-content center
  margin 2em 0
  @media screen and (max-width 500px)
    margin 1em 0
  &__link
    padding 0 1em
    color #666
    text-decoration none
    &--active
      text-decoration underline
      font-weight bold
      color #000
    &:not(:last-child)
      border-right 1px solid rgba(0,0,0,.2);
</style>
