<template lang="pug">
  .content__tab
    .controls
      .control
        select-drop-down(
          :options="airports"
          :title="$store.state.selectedAirport.name || 'Выберите аэропорт'"
          @valueSelected="setAirport"
        )
      .control
        select-drop-down(
          :title="'Выберите время'"
          :options="availableTime"
          @valueSelected="setTimeRange"
        )
      template(v-if="$store.state.selectedAirport.code")
        .control
          input-control(
            :placeholder="'Поиск по номеру рейса'"
            @valueChanged="setValueForSearchByNumber"
          )
        .control.control--left
          checkbox-control(
            :label="'Только задержанные'"
            @checkboxStateChange="setShowOnlyDelayed"
          )
    .timetable
      table-row(
        v-for="(board, index) in boardsFilteredByDelayedStatus"
        :board="board"
        :key="board.flight.number + index"
      )
</template>

<script>
import moment from 'moment';
import TableRow from '@/components/table/tableRow.vue';
import SelectDropDown from '@/components/controls/selectDropDown.vue';
import InputControl from '@/components/controls/inputControl.vue';
import CheckboxControl from '@/components/controls/checkboxControl.vue';

export default {
  name: 'boardTable',
  components: {
    CheckboxControl, InputControl, SelectDropDown, TableRow,
  },
  props: {
    boards: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      valueForSearchByNumber: '',
      showOnlyDelayed: false,
      stepForTimeRange: 2,
      time: {
        from: '',
        to: '',
      },
      airports: [
        {
          name: 'Пулково',
          value: 'LED',
        },
        {
          name: 'Шереметьево',
          value: 'SVO',
        },
      ],
    };
  },
  methods: {
    setAirport(option) {
      this.selectedAirport = option;
      this.$store.commit('selectAirport', option);
    },
    setTimeRange(option) {
      this.time.from = option.value.split('-')[0];
      this.time.to = option.value.split('-')[1];
    },
    setValueForSearchByNumber(value) {
      this.valueForSearchByNumber = value;
    },
    setShowOnlyDelayed(state) { // показать только задержанные
      this.showOnlyDelayed = state;
    },
    timeDifference(board) { // определить, что борт задержан
      if (board.departure.scheduledTime && board.departure.estimatedTime) {
        const scheduledTime = moment(board.departure.scheduledTime);
        const estimatedTime = moment(board.departure.estimatedTime);
        return Math.abs((scheduledTime.hour() * 60 + scheduledTime.minute())
          - (estimatedTime.hour() * 60 + estimatedTime.minute())) > 20;
      }
      return false;
    },
  },
  computed: {
    sortBoards() { // сортировка в соответствии с временем отправления по расписанию
      const boards = this.boards.slice(0);
      return boards.sort((elemA, elemB) => {
        if (elemA.type === 'arrival') {
          if (moment(elemA.arrival.scheduledTime) > moment(elemB.arrival.scheduledTime)) {
            return 1;
          }
          if (moment(elemA.arrival.scheduledTime) < moment(elemB.arrival.scheduledTime)) {
            return -1;
          }
          return 0;
        }
        if (elemA.type === 'departure') {
          if (moment(elemA.departure.scheduledTime) > moment(elemB.departure.scheduledTime)) {
            return 1;
          }
          if (moment(elemA.departure.scheduledTime) < moment(elemB.departure.scheduledTime)) {
            return -1;
          }
          return 0;
        }
        return 0;
      });
    },
    availableTime() {
      // Задаем допустимые промежутки времени, иходя из времени первого и последнего рейса
      // Шаг времени задается параметром stepForTimeRange
      const boards = this.boardsWithOutDuplicate;
      if (boards.length) {
        const firstBoard = boards[0];
        const lastBoard = boards[boards.length - 1];
        const arrOfTimeRange = [];
        let firstBoardTime;
        let lastBoardTime;
        let lastBoardMinute;
        if (this.$route.name === 'departure') { // если страница отправления
          firstBoardTime = moment(firstBoard.departure.scheduledTime).hour();
          lastBoardTime = moment(lastBoard.departure.scheduledTime).hour();
          lastBoardMinute = moment(lastBoard.departure.scheduledTime).minute();
        } else if (this.$route.name === 'arrival') { // если страница прибытия
          firstBoardTime = moment(firstBoard.arrival.scheduledTime).hour();
          lastBoardTime = moment(lastBoard.arrival.scheduledTime).hour();
          lastBoardMinute = moment(lastBoard.arrival.scheduledTime).minute();
        }
        if (firstBoardTime % this.stepForTimeRange) { // приводим к целому в зависимости от шага
          firstBoardTime -= (firstBoardTime % this.stepForTimeRange);
        }
        if (lastBoardTime % this.stepForTimeRange) { // приводим к целому в зависимости от шага
          lastBoardTime = lastBoardTime + this.stepForTimeRange - (lastBoardTime % this.stepForTimeRange);
        }
        for (;firstBoardTime !== lastBoardTime; firstBoardTime
          += this.stepForTimeRange) {
          if (firstBoardTime >= 24) { // если время больше 24, значит начался новый день
            firstBoardTime = 0;
          }
          let timeTo = firstBoardTime + this.stepForTimeRange;
          if (timeTo >= 24) {
            timeTo = 24;
          }
          arrOfTimeRange.push({
            value: `${firstBoardTime}-${timeTo}`,
            name: `${firstBoardTime}:00 - ${timeTo === 24 ? 0 : timeTo}:00`,
          });
        }
        if (firstBoardTime === lastBoardTime && lastBoardMinute !== 0) {
          // Если остались рейсы не вошедшие в промежуток времени
          const timeTo = firstBoardTime + this.stepForTimeRange;
          arrOfTimeRange.push({
            value: `${firstBoardTime}-${timeTo}`,
            name: `${firstBoardTime}:00 - ${timeTo === 24 ? 0 : timeTo}:00`,
          });
        }
        console.log(firstBoardTime);
        arrOfTimeRange.push({
          value: '-',
          name: 'Любое время',
        });
        return arrOfTimeRange;
      }
      return [{
        value: '-',
        name: 'Любое время',
      }];
    },

    // на входе sortBoards
    // последовательность фильтраций:
    // boardsWithOutDuplicate ->
    // boardsFilteredByTime ->
    // boardsFilteredBySearchNumber ->
    // boardsFilteredByDelayedStatus

    boardsWithOutDuplicate() { // Избавляемся от повторов в списке
      const initialBoardsArr = this.sortBoards.slice(0); // фантомный массив
      initialBoardsArr.forEach((board, index, arr) => {
        if (board.codeshared) { // Если борт имеет кроссировки
          arr.forEach((elem) => {
            if (board.codeshared.flight.iataNumber.toLowerCase()
              === elem.flight.iataNumber.toLowerCase()) { // Проверка на совпадение номеров
              if (elem.flight.iataNumber !== board.flight.iataNumber) { // Проверка на дубль
                if (elem.flight.additionalNumbers) { // Если совпадения уже были
                  if (!elem.flight.additionalNumbers.includes(board.flight.iataNumber)) {
                    // проверяем на дубли при обновлении
                    elem.flight.additionalNumbers.push(board.flight.iataNumber);
                  }
                } else { // если совпадений не было
                  elem.flight.additionalNumbers = [board.flight.iataNumber];
                }
              }
            }
          });
        }
      });
      return initialBoardsArr.filter(board => !board.codeshared);
    },
    boardsFilteredByTime() { // отфильтровать по времени, если задано
      if (this.time.from && this.time.to) {
        const arrForFilter = this.boardsWithOutDuplicate.slice(0);
        if (this.$route.name === 'departure') {
          return arrForFilter.filter(board => this.time.from <= moment(board.departure.scheduledTime).hour()
              && moment(board.departure.scheduledTime).hour() <= this.time.to - 1);
        } if (this.$route.name === 'arrival') {
          return arrForFilter.filter(board => this.time.from <= moment(board.arrival.scheduledTime).hour()
              && moment(board.arrival.scheduledTime).hour() <= this.time.to - 1);
        }
      }
      return this.boardsWithOutDuplicate;
    },
    boardsFilteredBySearchNumber() { // показать по номеру рейса
      if (this.valueForSearchByNumber) {
        const arrForFilter = this.boardsFilteredByTime.slice(0);
        return arrForFilter.filter((board) => {
          if (board.flight.iataNumber.toLowerCase().indexOf(this.valueForSearchByNumber.toLowerCase()) + 1) {
            return true;
          } if (board.flight.additionalNumbers) {
            let numberInArray = false;
            board.flight.additionalNumbers.forEach((number) => {
              number.toLowerCase().indexOf(this.valueForSearchByNumber.toLowerCase()) + 1 ? numberInArray =
                true : false;
            });
            return numberInArray;
          }
        });
      }
      return this.boardsFilteredByTime;
    },
    boardsFilteredByDelayedStatus() { // показать только задержанные
      if (this.showOnlyDelayed) {
        const arrForFilter = this.boardsFilteredBySearchNumber;
        return arrForFilter.filter(board => this.timeDifference(board));
      }
      return this.boardsFilteredBySearchNumber;
    },
  },
};
</script>

<style lang="stylus">
.controls
  display flex
  align-items center
  justify-content flex-start
  margin 2em 0
  @media screen and (max-width 1000px)
    flex-wrap wrap
    justify-content center
  @media screen and (max-width 700px)
    margin 1em 0
    flex-direction column
.control
  display flex
  align-items center
  margin 0 1em
  @media screen and (max-width 1000px)
    width 40%
    justify-content center
    margin 0 0 1em
  @media screen and (max-width 700px)
    width 100%
    margin .5em auto
  &--left
    margin-left auto
    @media screen and (max-width 1000px)
      margin-left 0
  &__ttl
    margin-right .5em
.timetable
  width 100%
  margin 2em 0
</style>
