<template lang="pug">
  .board(
    :class="{'board--cancelled': board.status === 'cancelled'}"
  )
    .board__time
      span.board__time-scheduled(
        :class="{'board__time-scheduled--estimated': timeDifference}"
      ) {{ time }}
      span.board__time-estimated(v-if="timeDifference") {{ estimatedTime }}
    .board__city
      span.board__city-name {{ cityName }}
      span.board__city-iata {{ cityIataCode }}
    .board__flight
      .board__flight-item
        span.board__flight-name {{ board.airline.name }}
        span.board__flight-iata {{ board.flight.iataNumber }}
        span.board__flight-additional-iata(
          v-for="number in board.flight.additionalNumbers"
        ) {{ number }}
    .board__info.board__info--terminal
      span.board__info-name Терминал:
      span.board__info-value &nbsp{{ terminal }}
    .board__info.board__info--gate(v-if="board.type === 'departure'")
      span.board__info-name Выход:
      span.board__info-value &nbsp{{ gate }}
    .board__status
      span.board__status-actual(
        :class="board.status"
      ) {{ status }}
      span.board__status-additional-info(
        v-if="additionalInfo"
      ) {{ additionalInfo }}
    .board__mobile-additional-info(
        v-if="additionalInfo"
      ) {{ additionalInfo }}
</template>

<script>
import moment from 'moment';

export default {
  name: 'tableRow',
  data() {
    return {
      cityName: '',
      cityIataCode: '',
    };
  },
  props: {
    board: {
      type: Object,
    },
  },
  mounted() {
    this.getCity();
  },
  methods: {
    async getCity() {
      if (this.board.type === 'arrival') { // if board type arrival
        this.cityIataCode = this.board.departure.iataCode;
        this.$http.get('/cityDatabase', {
          params: {
            codeIataCity: this.board.departure.iataCode,
          },
        })
          .then((resp) => {
            if (resp.data.error) {
              this.cityName = '';
            } else {
              this.cityName = resp.data[0].nameCity;
            }
          })
          .catch(err => err);
      } if (this.board.type === 'departure') { // if board type departure
        this.cityIataCode = this.board.arrival.iataCode;
        this.$http.get('/cityDatabase', {
          params: {
            codeIataCity: this.board.arrival.iataCode,
          },
        })
          .then((resp) => {
            if (resp.data.error) {
              this.cityName = '';
            }
            this.cityName = resp.data[0].nameCity;
          })
          .catch(err => err);
      }
    },
  },
  computed: {
    timeDifference() {
      if (this.board.departure.scheduledTime && this.board.departure.estimatedTime) {
        const scheduledTime = moment(this.board.departure.scheduledTime);
        const estimatedTime = moment(this.board.departure.estimatedTime);
        return Math.abs((scheduledTime.hour() * 60 + scheduledTime.minute())
          - (estimatedTime.hour() * 60 + estimatedTime.minute())) > 20;
      }
      return false;
    },
    time() {
      if (this.board.type === 'arrival') {
        return moment(this.board.arrival.scheduledTime).format('HH:mm');
      }
      if (this.board.type === 'departure') {
        return moment(this.board.departure.scheduledTime).format('HH:mm');
      }
      return '';
    },
    estimatedTime() {
      if (this.board.type === 'arrival' && this.board.arrival.estimatedTime) {
        return moment(this.board.arrival.estimatedTime).format('HH:mm');
      }
      if (this.board.type === 'departure' && this.board.departure.estimatedTime) {
        return moment(this.board.departure.estimatedTime).format('HH:mm');
      }
      return '';
    },
    terminal() {
      if (this.board.type === 'arrival') {
        return this.board.arrival.terminal;
      } if (this.board.type === 'departure') {
        return this.board.departure.terminal;
      }
      return '';
    },
    gate() {
      if (this.board.type === 'arrival') {
        return this.board.arrival.gate;
      } if (this.board.type === 'departure') {
        return this.board.departure.gate;
      }
      return '';
    },
    status() {
      if (this.board.status === 'landed') return 'Приземлился';
      if (this.board.status === 'cancelled') return 'Отменен';
      if (this.board.status === 'active') return 'В полете';
      if (this.board.status === 'scheduled' && this.timeDifference) {
        if (this.board.type === 'arrival') return 'Ожидается'; // если прибытие - то ожидается
        if (this.board.type === 'departure') return 'Задержан';
      }
      if (this.board.status === 'scheduled') return 'Ожидается';
      if (this.board.status === 'incident') return 'Задержан из-за технических проблем';
      if (this.board.status === 'diverted') return 'Перенаправлен';
      if (this.board.status === 'redirected') return 'Перенаправлен';
      if (this.board.status === 'unknown') return '';
      return this.board.status;
    },
    additionalInfo() {
      if (this.board.type === 'arrival' && this.timeDifference) {
        // тут я всегда долго мучаюсь над тем, как правильно переносить строку,
        // если она не умещается, всегда какая-то ерунда получается =)
        return `
          Задержан, время вылета: ${moment(this.board.departure.estimatedTime).format('HH:mm')}
          `;
      }
      if (this.board.type === 'departure' && this.timeDifference) {
        return `
          Задержан, время прибытия: ${moment(this.board.arrival.estimatedTime).format('HH:mm')}
        `;
      }
      return '';
    },
  },
};
</script>

<style lang="stylus">
.board
  display flex
  width 100%
  align-items center
  padding 1em
  border-bottom 1px solid black
  @media screen and (max-width 500px)
    flex-wrap wrap
    padding .5em
    font-size 1.2em
  &--cancelled
    background rgba(255,0,0,.4)
  &__time
    display flex
    align-items center
    flex-direction column
    width 10%
    font-weight bold
    @media screen and (max-width 800px)
      width auto
      margin 0 1em 0 0
    @media screen and (max-width 500px)
      width 30%
      margin 0 0 1em
      align-items flex-start
      font-size 1.2em
    &-scheduled
      position relative
      &--estimated
        &:after
          content ''
          display block
          position absolute
          top 50%
          left 0
          transform translateY(-50%)
          width 100%
          height 2px
          background red
    &-estimated
      color red
  &__city
    display flex
    align-items flex-start
    width 20%
    flex-direction column
    @media screen and (max-width 500px)
      width 40%
      margin 0 0 1em
    &-iata
      font-size .8em
      text-transform uppercase
      opacity .8
  &__flight
    width 20%
    display flex
    flex-direction column
    margin-right 2em
    @media screen and (max-width 800px)
      width 15%
    @media screen and (max-width 600px)
      margin-right 1em
    @media screen and (max-width 500px)
      width 30%
      margin 0 0 1em
    &-item
      width 100%
      display flex
      flex-direction column
      align-items flex-end
    &-name
      font-size .7em
      text-align right
      @media screen and (max-width 500px)
        display none
    &-iata
      font-weight bold
    &-additional-iata
      font-size .8em
  &__info
    width 10%
    display flex
    flex-direction column
    text-align right
    @media screen and (max-width 750px)
      font-size .8em
    @media screen and (max-width 500px)
      font-size 1em
      width 30%
      text-align left
      opacity .4
    @media screen and (max-width 350px)
      width auto
      margin-right 1em
    &-name
      font-size .7em
  &__status
    margin-left auto
    display flex
    flex-direction column
    align-items flex-end
    @media screen and (max-width 500px)
      margin-left auto
    &-actual
      font-weight bold
      &.landed
        color #718017
      &.active
        color #cd7f32
      &.departure
        color #805a17
    &-additional-info
      margin-top .3em
      width 100%
      font-size .8em
      text-align right
      @media screen and (max-width 820px)
        font-size .7em
      @media screen and (max-width 750px)
        display none
  &__mobile-additional-info
    display none
    @media screen and (max-width 500px)
      display block
      width 100%
      margin-top .3em
      width 100%
      font-size .8em
      text-align right
      opacity .4
.timetable-row
  display flex
  width 100%
  &__item
    text-align center
    padding .4em .8em
</style>
