<template lang="pug">
  #app
    .content
      main-nav
      router-view
</template>

<script>
import MainNav from '@/components/mainNav.vue';

export default {
  components: {
    MainNav,
  },
};
</script>

<style lang="stylus">
@import "~normalize.css";

*
  box-sizing border-box
#app
  font-family 'Roboto', sans-serif
  font-size 1.7em
  max-width 2000px
  margin 0 auto
  @media screen and (max-width 1650px)
    font-size 1.5em
  @media screen and (max-width 1450px)
    font-size 1.3em
  @media screen and (max-width 1300px)
    font-size 1em
  @media screen and (max-width 500px)
    font-size 1em
.content
  width 100%
  padding 0 2em
  @media screen and (max-width 500px)
    padding 0
</style>
